
html {
	overflow-y: scroll; 
}
*, *:before, *:after {
  box-sizing: border-box;
}
* {box-sizing: border-box; list-style-type: none;}
body { margin:0; background-color: #171717; color: #fff;}

a{color: #fff; text-decoration: none; transition:.5s ease;}
a:hover{text-decoration: none;}

label{
  font-weight: 400;
}









.nav-container  {
  position: relative;

}

.nav-container > div {

  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.navbar{
  padding: 32px 0 0 0;
}

.topnav {
  overflow: hidden;
  background-color: #171717;
  align-items: center;
 
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;

  margin-right: 18rem;
}
.navbar a{
  margin-right: 0;
}
.navbar a:hover {
  background-color: #0b2233;
  color: white;
}

.navbar a.active {
  background-color: #0b2233;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a{display: none;}
  .topnav a.icon {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    margin: 2rem 2rem 0 0 ;
  }
  .topnav a{
   margin-right: 0;
  }
  .nav-container {
    left: 0;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  margin-top:6px;
  background-color: #fff;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #f4dd5a;
}


#myDiv{
  width:450px;
  height: 200px;
  background-color: transparent;
  background-repeat: no-repeat;
 
}
#burger{
  width: 450px;
  height: 200px;
  background-color: transparent;
  background-repeat: no-repeat;
}
#queijo{
  width: 450px;
  height: 120px;
  background-color: transparent;
  background-repeat: no-repeat;
}
#myPao{
  width:450px;
  height: 200px;
  background-color: transparent;
  background-repeat: no-repeat;
 
}
#adicional{
  width: 450px;
  height: 120px;
  background-color: transparent;
  background-repeat: no-repeat;
}
.vitrine{ 
  padding: 8rem 0 0 12rem;
  background-color: #171717;
  width: 40%;
  color: #fff;
}
.vitrine button{
	background-color: red; 
	border: none; 
	padding: 18px 32px; 
	text-transform: uppercase; 
	letter-spacing: 4px;
	border-radius: 25px;
	margin-left: 6rem;
}
.teste{
    margin-top: 32px;
}
.teste input{
display: list-item;
    padding: 8px 0px;
}
.teste label {
	display: flex;
	
}
.teste p{
	margin-left: 32px;
}

.teste h3{
	margin-top: 0;
	padding-top: 4px;
	font-size: 22px;
}
.teste .a h3{
	padding-left: 21rem;
}
.teste .b h3{
	padding-left: 20rem;
}
.teste .c h3{
	padding-left: 20.5rem;
}
.teste .d h3{
	padding-left: 46px;
}
.teste .e h3{
	padding-left: 8.2rem;
}
.teste .f h3{
	padding-left:7.6rem;
}
.teste .g h3{
	padding-left: 15.6rem;
}
.teste .h h3{
	padding-left: 10.2rem;
}
.teste .i h3{
	padding-left: 12.4rem;
}
.teste .j h3{
	padding-left: 21rem;
}
.teste .k h3{
	padding-left: 20rem;
}
.teste .l h3{
	padding-left: 21rem;
}
/* Cardapio Page */
.title{
  text-align: center;
}

.title h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 32px 18px;
}


.tab-lanche{
  padding: 2rem 0 4rem 2rem;
  text-align: center;
}
.tab-lanche img{
  width: 90%;
}
.tab-lanche a:hover{
  color: #f4dd5a;
}
.tab-lanche:nth-child(2){
  border-right:  3px solid #fff;
  border-bottom:  3px solid #fff;
}
.tab-lanche:nth-child(3){
  border-right:  3px solid #fff;
  border-bottom:  3px solid #fff;
}
.tab-lanche:nth-child(4){

  border-bottom:  3px solid #fff;
}
.tab-lanche:nth-child(5){
  border-right:  3px solid #fff;
}
.tab-lanche:nth-child(6){
  border-right:  3px solid #fff;
}
/* Lanches */
.box{
  border-bottom: 3px solid #fff;
}
.box:nth-last-child(1){
  border-bottom:none;
}
.box-image img{
  width: 90%;
  padding-top: 32px;
}
.box-text{
  text-align: left;
  padding: 64px 0 64px 64px;

}
.box-text button{
  padding: 18px 32px;
  background-color: red;
  border: none;
  margin-top: 64px;
}






/* LOGIN */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}



.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}


.form h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}


.form label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}

.form label .req {
  margin: 2px;
  color: #1ab188;
}

.form label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
.form label.active .req {
  opacity: 0;
}

.form label.highlight {
  color: #ffffff;
}

.form input,
textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  /*height: 100%;*/
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
.form input:focus,
textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

.form textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #1ab188;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}











.payment-title {
  width: 100%;
  text-align: center;
}

.form-container .field-container:first-of-type {
  grid-area: name;
}

.form-container .field-container:nth-of-type(2) {
  grid-area: number;
}

.form-container .field-container:nth-of-type(3) {
  grid-area: expiration;
}

.form-container .field-container:nth-of-type(4) {
  grid-area: security;
}



.field-container {
  position: relative;
}

.form-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
  grid-template-rows: 90px 90px 90px;
  grid-template-areas: "name name""number number""expiration security";
  max-width: 700px;
  padding: 20px;
  color: #707070;
}





.ccicon {
  height: 38px;
  position: absolute;
  right: 6px;
  top: calc(50% - 42px);
  width: 60px;
}

/* CREDIT CARD IMAGE STYLING */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.cartao {
  width: 100%;
  max-width: 400px;
  max-height: 251px;
  height: 54vw;
  padding: 20px;
  margin-left: 4rem;
}

#ccsingle {
  position: absolute;
  right: 15px;
  top: 20px;
}

#ccsingle svg {
  width: 100px;
  max-height: 60px;
}

.creditcard svg#cardfront,
.creditcard svg#cardback {
  width: 100%;
  -webkit-box-shadow: 1px 5px 6px 0px black;
  box-shadow: 1px 5px 6px 0px black;
  border-radius: 22px;
}

#generatecard{
  cursor: pointer;
  float: right;
  font-size: 12px;
  color: #fff;
  padding: 2px 4px;
  background-color: #909090;
  border-radius: 4px;
  cursor: pointer;
  float:right;
}

/* CHANGEABLE CARD ELEMENTS */
.creditcard .lightcolor,
.creditcard .darkcolor {
  -webkit-transition: fill .5s;
  transition: fill .5s;
}

.creditcard .lightblue {
  fill: #03A9F4;
}

.creditcard .lightbluedark {
  fill: #0288D1;
}

.creditcard .red {
  fill: #ef5350;
}

.creditcard .reddark {
  fill: #d32f2f;
}

.creditcard .purple {
  fill: #ab47bc;
}

.creditcard .purpledark {
  fill: #7b1fa2;
}

.creditcard .cyan {
  fill: #26c6da;
}

.creditcard .cyandark {
  fill: #0097a7;
}

.creditcard .green {
  fill: #66bb6a;
}

.creditcard .greendark {
  fill: #388e3c;
}

.creditcard .lime {
  fill: #d4e157;
}

.creditcard .limedark {
  fill: #afb42b;
}

.creditcard .yellow {
  fill: #ffeb3b;
}

.creditcard .yellowdark {
  fill: #f9a825;
}

.creditcard .orange {
  fill: #ff9800;
}

.creditcard .orangedark {
  fill: #ef6c00;
}

.creditcard .grey {
  fill: #bdbdbd;
}

.creditcard .greydark {
  fill: #616161;
}

/* FRONT OF CARD */
#svgname {
  text-transform: uppercase;
}

#cardfront .st2 {
  fill: #FFFFFF;
}

#cardfront .st3 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
}

#cardfront .st4 {
  font-size: 54.7817px;
}

#cardfront .st5 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}

#cardfront .st6 {
  font-size: 33.1112px;
}

#cardfront .st7 {
  opacity: 0.6;
  fill: #FFFFFF;
}

#cardfront .st8 {
  font-size: 24px;
}

#cardfront .st9 {
  font-size: 36.5498px;
}

#cardfront .st10 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
}

#cardfront .st11 {
  font-size: 16.1716px;
}

#cardfront .st12 {
  fill: #4C4C4C;
}

/* BACK OF CARD */
#cardback .st0 {
  fill: none;
  stroke: #0F0F0F;
  stroke-miterlimit: 10;
}

#cardback .st2 {
  fill: #111111;
}

#cardback .st3 {
  fill: #F2F2F2;
}

#cardback .st4 {
  fill: #D8D2DB;
}

#cardback .st5 {
  fill: #C4C4C4;
}

#cardback .st6 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}

#cardback .st7 {
  font-size: 27px;
}

#cardback .st8 {
  opacity: 0.6;
}

#cardback .st9 {
  fill: #FFFFFF;
}

#cardback .st10 {
  font-size: 24px;
}

#cardback .st11 {
  fill: #EAEAEA;
}

#cardback .st12 {
  font-family: 'Rock Salt', cursive;
}

#cardback .st13 {
  font-size: 37.769px;
}

/* FLIP ANIMATION */
.cartao {
  perspective: 1000px;
}

.creditcard {
  width: 100%;
  max-width: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  cursor: pointer;
}

.creditcard .front,
.creditcard .back {
  position: absolute;
  width: 100%;
  max-width: 400px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  color: #47525d;
}

.creditcard .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.creditcard.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}






/* Sobre nos */



.equipe .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  max-width: 330px;
  margin: auto;
  text-align: center;
  font-family: arial;
  padding: 32px;
  margin: 0px 18px;
  
}
.equipe h2,p{
  color: #000;
}
.equipe .title {
  color: #000;
  font-size: 18px;
}


.equipe a {
  text-decoration: none;
  font-size: 22px;
  color: #000;
}


/* Footer */
.rodape{
	margin-top: 64px;
	border-top: 1px solid #fff;
}
.rodape li{
	margin-left: -4rem;
	padding: 0.4rem 0;
}

.rodape ul{
	margin-top: 2rem;
}




