<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultaq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>Cadastro</title>
	<link rel="stylesheet" type="text/css" src="../assets/css/style.css">
</head>
<body>
	<h3>Cadatro Cliente</h3>
	
	<form action="#" th:action="@{/}" method="post">
		Nome: <input type="text" value="" name="nome">
		Email: <input type="text" value="" name="email">
		Senha: <input type="password" value="" name="senha">
		
		<button type="submit">Salvar</button>
	</form>
</body>
</html>