<!Doctype html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultaq.net.nz/thymeleaf/layout">
  <head>
    <title>ByteBurger</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="/css/style.css">
    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Changa+One|Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  </head>
  <body>
      <header class="nav-container container">
        <div class="topnav" id="myTopnav">
          <a ><img src="assets/imagens/logo.png"></a>
          <div class="navbar">
               <a th:href="@{/index}" >Home</a>
            <a th:href="@{/cardapio}">Cardápio</a>
            <a th:href="@{/contato}">Sobre nós</a>
            <a th:href="@{/cadastro}">Login</a>
            <a href="car.html"><i class="fas fa-shopping-cart"></i></a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
        </div>

        
      </header>
        <section class="container-fluid cardapio">
          <div class="container">
            <div class="title ">
                <h1>Menu</h1>
            </div>
            
            <div class="col-sm-4 tab-lanche ">
              <a th:href="@{hamburger-carne}">
                <img src="assets/imagens/frangao.png" alt="">
                <h2>Hambúrger de Carne</h2>
               
              </a>
            </div>
            <div class="col-sm-4 tab-lanche">
              <a th:href="@{hamburger-frango}">
                <img src="assets/imagens/burger-de-frango.png" alt="">
                <h2>Hambúrger de Frango</h2>
               
              </a>
            </div>
            <div class="col-sm-4 tab-lanche">
              <a th:href="@{hamburger-vegano}">
                <img src="assets/imagens/burger-soja.png" alt="">
                <h2>Hambúrger de Soja</h2>
              
              </a>
            </div>

            <div class="col-sm-4 tab-lanche">
              <a th:href="@{drinks}"> 
                <img src="assets/imagens/pepsi.png" alt="">
                <h2>Bebidas</h2>
                
              </a>
            </div>
            <div class="col-sm-4 tab-lanche">
              <a th:href="@{acompanhamento}">
                <img src="assets/imagens/acompanhamento.png" alt="">
                <h2>Acompanhamento</h2>
                
              </a>
            </div>
            <div class="col-sm-4 tab-lanche">
              <a th:href="@{sobremesa}">
                <img src="assets/imagens/sobremesa.png" alt="">
                <h2>Sobremesa</h2>
                
              </a>
            </div>


          </div>
              
        </section>

       <!-- Optional JavaScript -->
    <script src="assets/js/canvas.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </body>
</html>