<!doctype html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultaq.net.nz/thymeleaf/layout">
  <head>
    <title>ByteBurger</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="css/style.css">
    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Changa+One|Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  </head>
  <body>
      <header class="nav-container container">
        <div class="topnav" id="myTopnav">
          <a ><img src="img/logo.png"></a>
          <div class="navbar">
            <a th:href="@{/index}" >Home</a>
            <a th:href="@{/cardapio}">Cardápio</a>
            <a th:href="@{/contato}">Sobre nós</a>
            <a th:href="@{/cadastro}">Login</a>
            <a href="/list-itens"><i class="fas fa-shopping-cart"></i></a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
        </div>

        
      </header>
      
      <section class="container">
            <div class="title"><h1>Equipe</h1></div>
          <div class="equipe">
                
           
                <div class="card col-sm-4">
                    <img src="img/luan2.png" alt="Luan" style="width:100%">
                    <h2>Luan Henrique</h2>
                    <p class="title">Chefe</p>
                    <p>Gastronomia</p>
                    <div style="margin: 24px 0;">
                        <a href="#"><i class="fab fa-twitter"></i></a>  
                        <a href="#"><i class="fab fa-linkedin"></i></a>  
                        <a href="#"><i class="fab fa-facebook"></i></a> 
                    </div>
                </div>
           
                <div class="card col-sm-4">
                    <img src="img/luan2.png" alt="Lucas" style="width:100%">
                    <h2>Lucas Marinzeck</h2>
                    <p class="title">Chefe</p>
                    <p>Gastronomia</p>
                    <div style="margin: 24px 0;">
                        <a href="#"><i class="fab fa-twitter"></i></a>  
                        <a href="#"><i class="fab fa-linkedin"></i></a>  
                        <a href="#"><i class="fab fa-facebook"></i></a> 
                    </div>
                </div>
                
                <div class="card col-sm-4">
                    <img src="img/luan2.png" alt="Luan" style="width:100%">
                    <h2>Donizeti Gonçalves</h2>
                    <p class="title">Chefe</p>
                    <p>Gastronomia</p>
                    <div style="margin: 24px 0;">
                        <a href="#"><i class="fab fa-twitter"></i></a>  
                        <a href="#"><i class="fab fa-linkedin"></i></a>  
                        <a href="#"><i class="fab fa-facebook"></i></a> 
                    </div>
                </div>
            
          </div>
      </section>
      <section>
            <div class="title"><h1>Como Trabalhamos</h1>
            <br>
            <p>
                Atendemos nossos clientes com atenção e simpatia 
            </p>
            </div>

      </section>






      
      
      
      
        
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!-- Optional JavaScript -->
    <script src="assets/js/canvas.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  </body>
</html>